h2{
    color: green;
    font-family: monospace;
    padding: 12px;
}



table,td,th{
border:2px solid black;
padding:6px 8px;
    
}
table,tr {
    border-collapse:collapse;
}
caption{
    caption-side: bottom;
    text-transform: uppercase;
    margin-top: 12px;
    color: chocolate;
    font-weight: bold;
}

.addMeCls {

    font-family: monospace;
    text-indent: 23px;
}
